
*{
  box-sizing: border-box;
}

body{
  background-color: rgb(192, 234, 255);
  border: 95px whitesmoke solid;
  margin: 0;
}

header{

  display: grid;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  background-color: whitesmoke;
  border-radius: 20px;
  width: 50%;
  text-align: center;
}

main{
  display: grid;
  gap: 2rem;
}

section{
  flex: 2;
}

.description{
  
  display: grid;
  text-align: justify;
  margin: auto;
  font-size: large;
  width: 50%;
  padding: 25px;
  margin-top: 155px;
}

#playa img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    float: left;
    margin-left: 35px;
  }

.carmen{
  
  display: grid;
  margin-left: 65px;
  text-align: justify;
  padding: 10px;
  color: black;
}

#la img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    float: right;
    margin-right: 35px;
}

.cali{
  
  display: grid;
  margin-right: 75px;
  text-align: right;
  padding: 10px;
  color: black;
}

#las img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    float: left;
    margin-left: 35px;
  }

.nevada{
  
  display: grid;
  margin-left: 105px;
  text-align: justify;
  padding: 10px;
  color: black;
}

footer{
  background-color: rgb(192, 234, 255);
  text-align: center;
}